<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>

  	<% 
  	var echoRecursive = function(data) {
	   	for(var i in data) {
	   		if(typeof data[i] != 'array' && typeof data[i] != 'object') {
	   		%>
	   			<li> <%= i %> : <%= data[i]%> </li>
	   		<%
	   		} else {
	   		%>
	   			<li><%= i %>
		   			<ul>
		   			<% echoRecursive(data[i]) %>
		   			</ul>
		   		</li>
	   		<%
	   		}
	   	}
  	}
  	%>

  	<ul>
   		<% echoRecursive(libs); %>
   	</ul>

  </body>
</html>